alembic==1.16.2
annotated-types==0.7.0
anyio==4.9.0
astropy==7.1.0
astropy-iers-data==0.2025.7.7.0.39.39
bcrypt==4.3.0
cffi==1.17.1
click==8.1.8
cryptography==44.0.3
dnspython==2.7.0
docstring_parser==0.16
ecdsa==0.19.1
email_validator==2.2.0
fastapi==0.115.12
greenlet==3.2.3
gunicorn==23.0.0
h11==0.16.0
h5py==3.14.0
httptools==0.6.4
idna==3.10
llvmlite==0.44.0
Mako==1.3.10
MarkupSafe==3.0.2
numba==0.61.2
numpy==2.2.6
packaging==25.0
passlib==1.7.4
psycopg==3.2.7
pyasn1==0.4.8
pycparser==2.22
pydantic==2.11.4
pydantic-settings==2.9.1
pydantic_core==2.33.2
pyerfa==2.0.1.5
python-dotenv==1.1.0
python-jose==3.4.0
python-multipart==0.0.20
pyuvdata==3.2.2
PyYAML==6.0.2
rsa==4.9.1
scipy==1.16.0
setuptools==80.9.0
setuptools-scm==8.3.1
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.40
sqlmodel==0.0.24
starlette==0.46.2
typing-inspection==0.4.0
typing_extensions==4.13.2
uvicorn==0.34.2
uvloop==0.21.0
uvtools==0.2.0
